* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;

}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --tw-bg-opacity: 1;
  background-color: rgb(245 249 255/1);
  /* background-color: rgb(5 8 22 / var(--tw-bg-opacity)); */
  transition: 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 0px;
  cursor: pointer;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: blue;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Main-App-logo {
    animation: Main-App-logo-spin infinite 30s linear;
  }
}

@keyframes Main-App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}